*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #37474f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"poppins",sans-serif; 
    
}
.container{
    max-width: 800px;
    width: 100%;
    background-color: #232931;
   color: #fff;
   border-radius: 20px;
   box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.35);
   transition: all 0.5s ease;
    
}
.wrapper{
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap:1rem ; 
}
.img_section{
    border-radius:20px;
    background-image: url(bg_image3.jpg);
    position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    position: relative;
    transform: scale(1.03) perspective(200px);
    box-shadow:4px 8px 16px rgba(0, 0, 0, 0.438) ;
}

.default_info{
    padding: 1.5rem;
    text-align: center;
}
.default_info img{
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
}
.default_info h2{
    font-size: 3rem;

}
.default_info h3{
    font-size: 1.5rem;
    text-transform: capitalize;
}
.wea_temp{
    font-size: 4rem;
    font-weight: 800;
}


/* Content_section */
.content_section{
    padding: 1.5rem;
}
.content_section form{
    margin: 1.5rem 0;
    position: relative;
}
   
.content_section form input{
    width: 80%;
    outline: none;
    background: transparent;
    border: 1px solid #7dc1e4;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.7rem 1rem;
    font-family: inherit;
    color: #fff;
    font-size: 1rem;
    position: relative;
    
}
.content_section form button{
    position: absolute;
    height: 2.65rem;
    width: 5.6rem;
    font-size: 1.1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 700;
    border: none;
    box-shadow: 0 8px 16px rgba(65, 61, 61, 0.4);
    background-color: #0093e9;
    background-image: linear-gradient(62deg, #0093e9 0%, #d888a5 99%, #ffffff 100%);
    cursor: pointer;
    color: #000;
    transition: all 0.3rem ease-in;
    
}
.content_section form button:hover{
    background-color: #006ccc;
    background-image: linear-gradient(62deg, #3a8acf 0%, #dd5b8f 100%);
    font-size: 1rem;

}
.day_info .content{
    display: flex;
    justify-content: space-between;
  
    padding: 0.4rem 0;
}
.day_info .content .title{
     font-weight: 600;
}
.list_content ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 2rem 0;
    height: 8rem;
    border-radius: 1rem;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.35);
}
.city{
    font-weight: 500;
}
/* .mainicon{
    height: 2rem ;
} */
.list_content ul li{
    
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
   
    transition: all 0.3rem ease-in;
}
.input1:hover{
    transform: scale(1.03);
    transition: all 0.s ease-in-out;
}
.list_content ul li:hover{
    transform: scale(1.1);
    background-color: #407cc5;
    color: #000;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    
}
.list_content ul li img{
    width: 70%;
    object-fit: cover;
}
.icons{
    opacity: 0;
}

.icons.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.6s;
}
@keyframes fadeIn{
    to{
        transition: all 0.5s ease-in;
        opacity: 1;
    }
}
.contact-me{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 2%;
    gap: 1rem;
}
.contact-me img{
    opacity: 0.8;
    box-shadow: -2px 8px 16px black;
    border-radius: 50%;
    height:2rem;
}
.contact-me img:hover{
    opacity: 1;
    box-shadow: 8px 15px 32px black;
      
}